@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@300&display=swap');
html,
body {
	--bkg-color: #fff;
	--text-color: #000;
	--text-color-muted: hsla(0deg 0% 0% / 75%);
	--text-glow-color-look: hsla(24deg 95% 18% / 75%);
	--text-glow-color-press: hsla(24deg 95% 16% / 40%);
  --underline-scale: 1;

	margin: 0;
	background-color: var(--bkg-color);
}
@media (prefers-color-scheme: dark) {
	html,
	body {
		--bkg-color: #000;
		--text-color: #bbb;
		--text-color-muted: hsla(0deg 0% 73% / 75%);
		--text-glow-color-look: hsla(24deg 95% 73% / 75%);
		--text-glow-color-press: hsla(24deg 95% 70% / 40%);
    --underline-scale: 0.5; 
	}

	.logo {
		filter: grayscale(100%) drop-shadow(0 0 1px var(--text-color));
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16pt;
	letter-spacing: 0.05em;
	word-spacing: 0.125em;
	color: var(--text-color);
}
body > * {
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	body > * {
		width: 750px;
	}
}

h1 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
}
.my-name {
	display: block;
	margin-top: 1em;
	color: var(--text-color-muted);
}
p {
	text-align: left;
}
header {
	margin-bottom: 2em;
}

.link {
	color: var(--text-color);
	text-decoration: none;
	box-shadow: 0 calc(0.1em * var(--underline-scale)) #fa8231;
  transition-property: box-shadow, text-shadow, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
	animation: 3s ease-in-out 1s infinite alternate glow;
  white-space: nowrap;
}
.link:focus {
	color: var(--text-glow-color-look);
	box-shadow: 0 calc(0.15em * var(--underline-scale)) #fa8231;
	text-shadow: 0 0 0.175em #fa823180;
	animation: none;
}
.link:hover {
	color: var(--text-glow-color-look);
	box-shadow: 0 calc(0.2em * var(--underline-scale)) #fa8231;
	text-shadow: 0 0 0.225em #fa823180;
	animation: none;
}
.link:active {
	color: var(--text-glow-color-press);
	box-shadow: 0 calc(0.05em * var(--underline-scale)) #fd9644;
	text-shadow: 0 0 0.05em #fd964480;
	animation: none;
}

.logo {
	filter: grayscale(100%);
	transform: none;
	transition: all 0.2s ease-out;
}
.logo:focus {
	transform: translateY(-0.175em);
	opacity: 75%;
}
.logo:hover {
	transform: translateY(-0.225em);
	opacity: 75%;
}
.logo:active {
	transform: translateY(-0.05em);
	opacity: 40%;
}
.logo:not(:last-of-type) {
	margin-right: 15px;
}

img {
	background: transparent;
}

@media (max-width: 768px) {
	body {
		font-size: 14px;
	}
	p {
		text-align: left;
	}
}

@-webkit-keyframes glow {
	from {
		color: var(--text-color);
		text-shadow: none;
	}
	to {
		color: var(--text-glow-color-look);
		text-shadow: 0 0 0.175em #fa823180;
	}
}
@keyframes glow {
	from {
		color: var(--text-color);
		text-shadow: none;
	}
	to {
		color: var(--text-glow-color-look);
		text-shadow: 0 0 0.175em #fa823180;
	}
}
